body{
    background-color: black;
    margin: 0;
    padding: 0;
}

.contenedor {
    text-align: center;
    padding: 20px;
}

.titulo{
    color: white;
}

.contenedor-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.contenedor-3{
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    color: white;
    text-align: center;
    font-size: 50px;
}

contenedor-4 {
    display: flex;
    justify-content: space-between;
}

button{
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}